@import '~@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Old Standard TT';
  src: url("src/assets/OldStandardTT-Regular.ttf");
}
@font-face {
  font-family: 'Old Standard TT';
  src: url("src/assets/OldStandardTT-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'Old Standard TT';
  src: url("src/assets/OldStandardTT-Italic.ttf");
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Old Standard TT', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
